@charset "UTF-8"

/* Todas as medias */



/* typical device breakpoints
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: de 768 até 992px;
Descktops: 992px até 1200px;
Grandes telas: acima de 1200px.
*/

@media print {
    
}


@media screen and (max-with: 600px){


}
@media screen and (max-with: 600px) and {


}

    
